.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-big-product-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .swiper-big-product-img {
    height: 600px;
    width: 640px;
    top: center;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .swiper-big-product-img {
    height: 500px;
    width: 448px;
    object-fit: cover;
  }
}

.swiper-small-product-img {
  height: 120px;
  width: 358px;
  box-sizing: border-box;
  padding: 10px 0;
  object-fit: cover;
}

@media (min-width: 768px) {
  .swiper-small-product-img {
    height: 170px;
    width: 640px;
    padding: 4px 0;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .swiper-small-product-img {
    height: 145px;
    width: 448px;
    object-fit: cover;
  }
}

.swiper-small-product-img .swiper-slide {
  width: 25%;
  height: 130px;
  opacity: 0.4;
  position: relative;
}

.swiper-small-product-img .swiper-slide-thumb-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: #000;
}

.swiper-small-product-img .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev::after {
  font-size: 1.5rem !important;
}

.swiper-button-next::after {
  font-size: 1.5rem !important;
}
